/* Needed for Reveal.js to render with proper dimensions */
#app {
	height: 100%;
}

button {
	font-size: 100%;
	border: none;
	margin: 0.25em;
	padding: 0.25em;
	background-color: var(--r-link-color);
	color: black;
	cursor: pointer;
}

button:focus,
button:hover {
	box-shadow: 0em 0em 0.2em var(--r-link-color-hover);
	background-color: var(--r-link-color-hover);
	outline: none;
}
